<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>
    <style>

        .input-group-fix {
            min-width: 500px !important;
            margin-right: 15px !important;
            margin-left: 15px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }


        .panel-primary{
            position: absolute !important;
        }

        .row-fix {
            margin-left: -250px !important;
        }

        .btn-add {
            background-color: #3700b3;
        }

        .btn-add:hover {
            background-color: #3949AB;
        }

        .btn-success {
            background-color: #3700b3;
            border-color: #3700b3;
        }

        .btn-success:hover {
            background-color: #3949AB;
        }

        .btn-success-fix {
            margin-left: 25px !important;
        }

    </style>

</head>
<body>
<div class="container">
    <div class="row ">
        <div class="col-xs-offset-3 col-xs-6 row-fix">
            <div class="panel panel-primary">
                <div class="panel-heading panel-fix">
                    <div class="text-center">
                        <strong class="panel-title" th:text="#{complex.addSmis}"></strong>
                    </div>
                </div>
                <form role="form" th:action="@{/addSmis}" method="post">
                    <div class="panel-body">

                        <table >
                            <tr class="td-style-fix">
                                <td class="td-style-fix">
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-text-color"></span></span>
                                    <input type="text" class="form-control" name="name"
                                    th:placeholder="#{complex.name}" required="True" autofocus="True"/>
                                    </div>
                                </td>
                                <td class="td-style-fix">
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-paperclip" ></span></span>
                                    <input type="text" class="form-control"   name="agreement" required="True"
                                    th:placeholder="#{complex.agreementNumber}"/>
                                    </div>
                                </td>
                                <td class="td-style-fix">
                                    <!--выпадающий список для выбора родителя-->
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-magnet"></span></span>
                                    <select class="form-control" name="parent_id">
                                    <option th:text="#{complex.parentSmis}" disabled selected hidden value=""></option>
                                    <option th:each="smis : ${smisesList}" th:value="${smis.id}" th:text="${smis.name}"></option>
                                    </select>
                                    </div>
                                    <!---->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-home"></span></span>
                                        <input type=text list=regions th:placeholder="#{complex.region}" class="form-control" required="True">
                                        <datalist name="region" id="regions">
                                            <option th:each="region : ${regionList}" th:value="${region.name}" th:text="${region.name}"></option>

                                        </datalist>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                                    <input type="text" class="form-control" name="validity" onfocus="(this.type='date')" onblur="this.type='text'"
                                    th:placeholder="#{complex.agreementDate}" required="True"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-object-align-vertical"></span></span>
                                        <select class="form-control" name="equipments">
                                            <option th:text="#{complex.equipment}" disabled selected hidden value=""></option>
                                            <option th:each="equipment : ${equipmentList}" th:value="${equipment.name}" th:text="${equipment.name}"></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>


                                <td>

                                    <!--добавление контактов-->
                                    <div class="input-group input-group-sm clone input-group-fix">

                                        <span class="input-group-addon glyphicon glyphicon-user "></span>

                                        <table>
                                            <tr>

                                                <td><input class="form-control" aria-describedby="sizing-addon3" type="tel" name="fones[]" placeholder="телефон"></td>
                                                <td><input class="form-control" aria-describedby="sizing-addon3" type="text" name="names[]" placeholder="Ф.И.О." ></td>
                                                <td><input class="form-control" aria-describedby="sizing-addon3" type="text" name="positions[]" placeholder="должность"></td>
                                                <td><span class="input-group-btn"><button type="button" class="btn btn-success btn-add">✚</button></span></td>
                                            </tr>
                                        </table>



                                    </div>


                                </td>
                                <td>

                                    <!--добавление файлов-->
                                    <div class="input-group input-group-sm clone input-group-fix">

                                        <span class="input-group-addon glyphicon glyphicon-save-file " ></span>

                                        <table>
                                            <tr>

                                                <td><input class="form-control" aria-describedby="sizing-addon3" type="text" name="filNames[]" placeholder = "Понятное имя файла"></td>
                                                <td><input class="form-control" type="file" name="files[]"></td>

                                                <td><span class="input-group-btn"><button type="button" class="btn btn-success btn-add">✚</button></span></td>
                                            </tr>
                                        </table>



                                    </div>




                                </td>
                                <td>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-comment"></span></span>
                                    <textarea type="text" class="form-control" name="description"
                                              th:placeholder="#{complex.description}" autofocus="True"></textarea>
                                    </div>
                                </td>
                            </tr>


                        </table>
                        <script>
                            $(document).on('click', '.btn-add', function(event) {
                                event.preventDefault();

                                var field = $(this).closest('.clone');
                                var field_new = field.clone();

                                $(this)
                                    .toggleClass('btn-success')
                                    .toggleClass('btn-add')
                                    .toggleClass('btn-danger')
                                    .toggleClass('btn-remove')
                                    .html('✖');

                                field_new.find('input').val('');
                                field_new.insertAfter(field);
                            });

                            $(document).on('click', '.btn-remove', function(event) {
                                event.preventDefault();
                                $(this).closest('.clone').remove();
                            });
                        </script>

                    <div class="panel-footer">
                        <div class="row">
                            <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                                <button type="submit" class="btn btn-labeled btn-success btn-success-fix">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span><span
                                        th:text="OK"/></button>
                                <button type="button" onclick="history.back();" class="btn btn-labeled btn-danger">
                                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span><span
                                        th:text="#{users.exit}"/></button>
                            <!--</div>-->
                        </div>
                    </div>
                    </div>
                </form>



            </div>



        </div>
    </div>

</div>

</body>
</html>