<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>


    <style>

        /*.td-style-fix{
            width: 5000px !important;
        }*/

        .input-group-fix {
            min-width: 500px !important;
            margin-right: 15px !important;
            margin-left: 15px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }


        .panel-primary{
            position: absolute !important;
        }

        .row-fix {
            margin-left: -250px !important;
        }

    </style>

</head>
<body>
<div class="container">
    <div class="row ">
        <div class="col-xs-offset-3 col-xs-6 row-fix">
            <div class="panel panel-primary">
                <div class="panel-heading panel-fix">
                    <div class="text-center">
                        <strong class="panel-title" th:text="#{complex.addSmis}"></strong>
                    </div>
                </div>
                <form role="form" th:action="@{/addSmis}" method="post">
                    <div class="panel-body">

                        <table >
                            <tr class="td-style-fix">
                                <td class="td-style-fix">
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-list-alt"></span></span>
                                    <input type="text" class="form-control" name="name"
                                    th:placeholder="#{complex.name}" required="True" autofocus="True"/>
                                    </div>
                                </td>
                                <td class="td-style-fix">
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-list-alt"></span></span>
                                    <input type="text" class="form-control"   name="agreement"
                                    th:placeholder="#{complex.agreementNumber}"/>
                                    </div>
                                </td>
                                <td class="td-style-fix">
                                    <!--выпадающий список для выбора родителя-->
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-list-alt"></span></span>
                                    <select class="form-control" name="parent_id">
                                    <option th:text="#{complex.parentSmis}" disabled selected hidden value=""></option>
                                    <option th:each="smis : ${smisesList}" th:value="${smis.id}" th:text="${smis.name}"></option>
                                    </select>
                                    </div>
                                    <!---->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-list-alt"></span></span>
                                        <select class="form-control" name="region">
                                            <option th:text="#{complex.region}" disabled selected hidden value=""></option>
                                            <option th:each="smis : ${smisesList}" th:value="${smis.id}" th:text="${smis.name}"></option>
                                        </select>
                                </td>
                                <td>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-list-alt"></span></span>
                                    <input type="text" class="form-control" name="validity"
                                    th:placeholder="#{complex.agreementDate}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-list-alt"></span></span>
                                        <select class="form-control" name="equipments">
                                            <option th:text="#{complex.equipment}" disabled selected hidden value=""></option>
                                            <option th:each="smis : ${smisesList}" th:value="${smis.id}" th:text="${smis.name}"></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>


                                <td>

                                    <!--добавление контактов-->
                                    <div class="input-group input-group-sm clone input-group-fix">

                                        <span class="input-group-addon glyphicon glyphicon-user "></span>

                                        <table>
                                            <tr>

                                                <td><input class="form-control" aria-describedby="sizing-addon3" type="tel" name="fones[]" placeholder="телефон"></td>
                                                <td><input class="form-control" aria-describedby="sizing-addon3" type="text" name="names[]" placeholder="Ф.И.О." ></td>
                                                <td><input class="form-control" aria-describedby="sizing-addon3" type="text" name="positions[]" placeholder="должность"></td>
                                                <td><span class="input-group-btn"><button type="button" class="btn btn-success btn-add">✚</button></span></td>
                                            </tr>
                                        </table>



                                    </div>


                                </td>
                                <td>

                                    <!--добавление файлов-->
                                    <div class="input-group input-group-sm clone input-group-fix">

                                        <span class="input-group-addon glyphicon glyphicon-save-file " ></span>

                                        <table>
                                            <tr>

                                                <td><input class="form-control" aria-describedby="sizing-addon3" type="text" name="filNames[]" placeholder = "Понятное имя файла"></td>
                                                <td><input class="form-control" type="file" name="files[]"></td>

                                                <td><span class="input-group-btn"><button type="button" class="btn btn-success btn-add">✚</button></span></td>
                                            </tr>
                                        </table>



                                    </div>




                                </td>
                                <td>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-list-alt"></span></span>
                                    <textarea type="text" class="form-control" name="description"
                                              th:placeholder="#{complex.description}" autofocus="True"></textarea>
                                    </div>
                                </td>
                            </tr>


                        </table>
                        <script>
                            $(document).on('click', '.btn-add', function(event) {
                                event.preventDefault();

                                var field = $(this).closest('.clone');
                                var field_new = field.clone();

                                $(this)
                                    .toggleClass('btn-success')
                                    .toggleClass('btn-add')
                                    .toggleClass('btn-danger')
                                    .toggleClass('btn-remove')
                                    .html('✖');

                                field_new.find('input').val('');
                                field_new.insertAfter(field);
                            });

                            $(document).on('click', '.btn-remove', function(event) {
                                event.preventDefault();
                                $(this).closest('.clone').remove();
                            });
                        </script>

                        <!--<div class="row">-->
                            <!--<div class="col-xs-6 col-sm-6 col-md-6 login-box">-->

                                <!--&lt;!&ndash;группа инпутов для добавления нового СМИСа&ndash;&gt;-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="name"-->
                                           <!--th:placeholder="#{complex.name}" required="True" autofocus="True"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="region"-->
                                           <!--th:placeholder="#{complex.region}" autofocus="True"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="agreement"-->
                                           <!--th:placeholder="#{complex.agreement}"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="validity"-->
                                           <!--th:placeholder="#{complex.validity}"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="contacts"-->
                                           <!--th:placeholder="#{complex.contacts}"/>-->
                                <!--</div>-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="url"-->
                                           <!--th:placeholder="#{complex.url}"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="description"-->
                                           <!--th:placeholder="#{complex.description}" autofocus="True"/>-->
                                <!--</div>-->

                                <!--&lt;!&ndash;&ndash;&gt;-->
                                <!--&lt;!&ndash;выпадающий список для выбора родителя&ndash;&gt;-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<select class="form-control" name="parent_id">-->
                                        <!--<option th:text="#{complex.parentSmis}" disabled selected hidden value=""></option>-->
                                        <!--<option th:each="smis : ${smisesList}" th:value="${smis.id}" th:text="${smis.name}"></option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;&ndash;&gt;-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="file" class="form-control" multiple="multiple" name="files" autofocus="True"/>-->
                                <!--</div>-->

                            <!--</div>-->

                            <!--<div class="col-xs-6 col-sm-6 col-md-6 login-box">-->

                                <!--&lt;!&ndash;группа инпутов для добавления нового СМИСа&ndash;&gt;-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="name"-->
                                           <!--th:placeholder="#{complex.name}" required="True" autofocus="True"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="region"-->
                                           <!--th:placeholder="#{complex.region}" autofocus="True"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="agreement"-->
                                           <!--th:placeholder="#{complex.agreement}"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="validity"-->
                                           <!--th:placeholder="#{complex.validity}"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="contacts"-->
                                           <!--th:placeholder="#{complex.contacts}"/>-->
                                <!--</div>-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="url"-->
                                           <!--th:placeholder="#{complex.url}"/>-->
                                <!--</div>-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="text" class="form-control" name="description"-->
                                           <!--th:placeholder="#{complex.description}" autofocus="True"/>-->
                                <!--</div>-->

                                <!--&lt;!&ndash;&ndash;&gt;-->
                                <!--&lt;!&ndash;выпадающий список для выбора родителя&ndash;&gt;-->
                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<select class="form-control" name="parent_id">-->
                                        <!--<option th:text="#{complex.parentSmis}" disabled selected hidden value=""></option>-->
                                        <!--<option th:each="smis : ${smisesList}" th:value="${smis.id}" th:text="${smis.name}"></option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;&ndash;&gt;-->

                                <!--<div class="input-group">-->
                                    <!--<span class="input-group-addon"><span-->
                                            <!--class="glyphicon glyphicon-list-alt"></span></span>-->
                                    <!--<input type="file" class="form-control" multiple="multiple" name="files" autofocus="True"/>-->
                                <!--</div>-->

                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel-footer">-->
                        <!--<div class="row">-->
                            <!--&lt;!&ndash;<div class="col-xs-6 col-sm-6 col-md-6">&ndash;&gt;-->
                                <!--<button type="submit" class="btn btn-labeled btn-success">-->
                                    <!--<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span><span-->
                                        <!--th:text="OK"/></button>-->
                                <!--<button type="button" onclick="history.back();" class="btn btn-labeled btn-danger">-->
                                    <!--<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span><span-->
                                        <!--th:text="#{users.exit}"/></button>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                </form>



            </div>



        </div>
    </div>

</div>

</body>
</html>