<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>
    <style>

        .input-group-fix {
            min-width: 500px !important;
            margin-right: 15px !important;
            margin-left: 15px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

        .form-control-fix {
            min-width: 430px !important;

        }

        .panel-primary {
            position: absolute !important;
        }

        .row-fix {
            margin-left: -250px !important;
        }

        .btn-add {
            background-color: #3700b3;
        }

        .btn-add:hover {
            background-color: #3949AB;
        }

        .btn-success {
            background-color: #3700b3;
            border-color: #3700b3;
        }

        .btn-success:hover {
            background-color: #3949AB;
        }

        .btn-success-fix {
            margin-left: 25px !important;
        }

        .glyphicon {
            top: 0px !important;
        }

        td {
            vertical-align: top !important;
        }

        .form-control-fix {
            min-height: 34px !important;
        }

        .empty-cell{
            height: 0px !important;
        }

        .comment-trick{
            min-height: 80px !important;
        }

        .title{
            min-width: 200px !important;
            max-width: 200px !important;
            word-break: break-word !important;
        }


    </style>

</head>
<body>
<div class="container">
    <div class="row ">
        <div class="col-xs-offset-3 col-xs-6 row-fix">
            <div class="panel panel-primary">
                <div class="panel-heading panel-fix">
                    <div class="text-center">
                        <strong class="panel-title" th:text="#{complex.editSmis}"></strong>
                    </div>
                </div>
                <form name="myform" role="form" th:action="@{/editSmis}" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="smis_id" th:value="${smis.id}">
                    <div type="hidden" id="d_files">

                    </div>
                    <div type="hidden" id="d_contacts">

                    </div>
                    <div type="hidden" id="d_equipments">

                    </div>

                    <div class="panel-body">

                        <table>
                            <tr class="td-style-fix">
                                <td class="td-style-fix">

                                    <label>Общая информация</label>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-text-color"></span></span>
                                        <input type="text" class="form-control" name="name"
                                               th:value="${smis.name}" required="True" autofocus="True"/>
                                    </div>

                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-calendar"></span></span>
                                        <input type="text" class="form-control" name="validity" title="установить дату напоминания об окончании срока соглашения"
                                               onfocus="(this.type='date')" onblur="this.type='text'"
                                               th:value="${smis.validity}"/>
                                    </div>

                                    <!--выпадающий список для выбора родителя-->
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-list-alt"></span></span>
                                        <select class="form-control" name="parent_smis_id" >
                                            <option th:text="#{complex.parentSmis}" th:value="${null}"></option>
                                            <option th:if="${smis.parentSmis != null}" selected class="form-control form-control-fix" th:value="${smis.parentSmis.id}" th:text="${smis.parentSmis.name}"></option>
                                            <option th:each="smis : ${smisesList}" th:if="${smis.parentSmis != smis}"  th:value="${smis.id}" th:text="${smis.name}"></option>
                                        </select>
                                    </div>
                                    <!---->

                                    <!--выпадающий список для выбора региональной принадлежности-->
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-list-alt"></span></span>
                                        <select class="form-control" name="areaState_id" required="True">
                                            <option selected class="form-control form-control-fix" th:value="${smis.areaState.id}" th:text="${smis.areaState.name}"></option>
                                            <option th:each="areaState : ${areaStateList}"  th:if="${smis.areaState != areaState}" th:value="${areaState.id}" th:text="${areaState.name}" ></option>
                                        </select>
                                    </div>
                                    <!---->

                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-comment"></span></span>
                                        <textarea type="text" class="form-control form-control-fix comment-trick" name="description"
                                                  th:text="${smis.description}" autofocus="True"></textarea>
                                    </div>


                                </td>
                                <td class="td-style-fix">

                                    <label>Адрес</label>
                                    <div class="input-group input-group-fix">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-comment"></span></span>
                                        <select class="form-control form-control-fix" name="countries"

                                                 onchange="changeCountry(this.value)" required="True">
                                            <!--<option class="form-control form-control-fix" th:text="${smis.city.region.district.country.name}"></option>-->
                                            <option selected class="form-control form-control-fix" th:value="${smis.city.region.district.country.id}" th:text="${smis.city.region.district.country.name}"></option>
                                            <option class="form-control form-control-fix" th:each="cantry : ${cantryList}" th:if="${smis.city.region.district.country != cantry}" th:value="${cantry.id}" th:text="${cantry.name}"></option>

                                        </select>
                                    </div>



                                    <div id="districts_"  class="input-group input-group-fix">

                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-comment"></span></span>
                                        <select  class="form-control" name="districts" onchange="changeDistrict(this.value)" required="True">
                                            <option selected class="form-control form-control-fix" th:value="${smis.city.region.district.id}" th:text="${smis.city.region.district.name}"></option>
                                            <option class="form-control form-control-fix" th:each="district : ${districtsList}" th:if="${smis.city.region.district != district}" th:value="${district.id}" th:text="${district.name}"></option>
                                        </select>
                                    </div>



                                    <div id="regions_" class="input-group input-group-fix">

                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-comment"></span></span>
                                        <select class="form-control" name="regions" onchange="changeRegion(this.value)" required="True" >
                                            <option selected class="form-control form-control-fix" th:value="${smis.city.region.id}" th:text="${smis.city.region.name}"></option>
                                            <option class="form-control form-control-fix" th:each="region : ${regionList}" th:if="${smis.city.region != region}" th:value="${region.id}" th:text="${region.name}"></option>
                                        </select>
                                    </div>

                                    <div id="cities_" class="input-group input-group-fix">

                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-comment"></span></span>
                                        <input required="True" th:value="${smis.city.name}" class="form-control form-control-fix" type=text list = citylist onkeypress="changeCity(this.value)" onchange="changeCity(this.value)" name="cities" >

                                        <datalist name="citylist" id=cityList>


                                        </datalist>
                                        </input>
                                    </div>


                                    <div  id="street_"  class="input-group input-group-fix">
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-comment"></span></span>
                                        <input th:value="${smis.address}" class="form-control form-control-fix" type=text name="street" >
                                        </input>
                                    </div>


                                </td>
                                <td class="td-style-fix">


                                    <!--добавление файлов-->
                                    <label>Файлы</label>
                                    <div class="input-group input-group-sm deteling input-group-fix clone" th:if="${not #lists.isEmpty(smis.files)}" th:each="file : ${smis.files}">

                                        <span class="input-group-addon glyphicon glyphicon-save-file"></span>

                                        <table class="form-control">


                                            <tr>
                                                <td  th:title="${file.description}">
                                                    <p  class="contacts-cell description-fix file-comment-fix"><a th:href="${'/download/' +  file.fileName}" th:text="${file.customName}" th:value="${file.id}" type="application/file"></a>
                                                    </p>
                                                </td>
                                                <!--<textarea class="form-control form-control-fix" th:text="${file.description}"></textarea>-->
                                            </tr>
                                        </table>
                                        <span class="input-group-btn"><button type="button" class="btn btn-danger btn-remove btn-remove-file" th:id="${file.id}" onclick="onClickDeleteFile(this.id)" >✖</button></span>
                                    </div>

                                    <!--добавление файлов-->

                                    <div class="input-group input-group-sm clone input-group-fix">

                                        <span class="input-group-addon glyphicon glyphicon-save-file"></span>

                                        <table>
                                            <tr>
                                                <textarea type="text" class="form-control form-control-fix" name="fileDescriptions"
                                                          th:placeholder="#{complex.description}" autofocus="True" title="указать сроки действия документов" value=''></textarea>
                                            </tr>
                                            <tr>

                                                <td><input class="form-control" aria-describedby="sizing-addon3"
                                                           type="text" name="fileNames" value=""
                                                           placeholder="Понятное имя файла" multiple></td>
                                                <td><input class="form-control" type="file" name="files" multiple></td>
                                                <td><span class="input-group-btn"><button type="button"
                                                                                          class="btn btn-success btn-add">✚</button></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <!--добавление контактов-->
                                    <label>Контакты</label>
                                    <div class="input-group input-group-sm deteling input-group-fix clone" th:if="${not #lists.isEmpty(smis.contacts)}" th:each="contact : ${smis.contacts}">

                                        <span class="input-group-addon glyphicon glyphicon-user"></span>

                                        <table class="form-control">


                                            <tr>
                                                <td>
                                                    <p  class="contacts-cell description-fix file-comment-fix" th:text="${contact.name + ' - ' + contact.position + ' - ' + contact.fonNumber}">
                                                    </p>
                                                </td>
                                                <!--<textarea class="form-control form-control-fix" th:text="${file.description}"></textarea>-->
                                            </tr>
                                        </table>
                                        <span class="input-group-btn"><button type="button" class="btn btn-danger btn-remove " th:id="${contact.id}" onclick="onClickDeleteContact(this.id)">✖</button></span>
                                    </div>


                                    <div class="input-group input-group-sm clone input-group-fix">
                                        <span class="input-group-addon glyphicon glyphicon-user "></span>
                                        <table>
                                            <tr>
                                                <td><input class="form-control" aria-describedby="sizing-addon3"
                                                           type="text" name="phones" placeholder="телефон или mail">
                                                </td>
                                                <td><input class="form-control" aria-describedby="sizing-addon3"
                                                           type="text" name="contactNames" placeholder="Ф.И.О."></td>
                                                <td><input class="form-control" aria-describedby="sizing-addon3"
                                                           type="text" name="positions" placeholder="должность"></td>
                                                <td><span class="input-group-btn"><button type="button"
                                                                                          class="btn btn-success btn-add">✚</button></span>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>

                                    <label>Оборудование</label>
                                    <div class="input-group input-group-sm deteling input-group-fix clone" th:if="${not #lists.isEmpty(smis.equipments)}" th:each="equipment : ${smis.equipments}">

                                        <span class="input-group-addon glyphicon glyphicon-user"></span>

                                        <table class="form-control">
                                            <tr >
                                                <td >
                                                    <p  class="contacts-cell description-fix file-comment-fix" th:text="${equipment.equipment.name}"></p>
                                                </td>
                                            </tr>
                                        </table>
                                        <span class="input-group-btn"><button type="button" class="btn btn-danger btn-remove" th:id="${equipment.id}" onclick="onClickDeleteEquipment(this.id)">✖</button></span>
                                    </div>


                                    <div class="input-group input-group-sm clone input-group-fix">
                                        <span class="input-group-addon glyphicon glyphicon-object-align-vertical"></span>
                                        <table>
                                            <tr>
                                                <td><input type=text list=equipmentslist name="equipments"
                                                           th:placeholder="#{complex.equipment}"
                                                           class="form-control form-control-fix" multiple>
                                                <td><span class="input-group-btn"><button type="button"
                                                                                          class="btn btn-success btn-add">✚</button></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <datalist name="equipmentslist" id=equipmentslist>
                                        <option th:each="equipment : ${equipmentsList}" th:value="${equipment.name}"
                                                th:text="${equipment.name}"></option>

                                    </datalist>

                                </td>
                            </tr>
                            <tr>



                                <td>


                                </td>
                                <td>



                                </td>

                                <td>




                                </td>



                            </tr>
                            <tr>


                                <td>




                                </td>
                                <td>


                                </td>
                                <td>

                                </td>
                                </td>
                            </tr>
                        </table>
                        <script type="text/javascript">
                            $(document).on('click', '.btn-add', function (event) {
                                event.preventDefault();

                                var field = $(this).closest('.clone');
                                var field_new = field.clone();

                                $(this)
                                    .toggleClass('btn-success')
                                    .toggleClass('btn-add')
                                    .toggleClass('btn-danger')
                                    .toggleClass('btn-remove')
                                    .html('✖');

                                field_new.find('textarea').val('');
                                field_new.find('input').val('');
                                field_new.insertAfter(field);
                            });

                            $(document).on('click', '.btn-remove', function (event) {
                                event.preventDefault();
                                $(this).closest('.clone').remove();
                            });


                            //удаление файлов!
                            function onClickDeleteFile(id) {
                                var element = document.getElementById("d_files");
                                var text = element.innerHTML;
                                text = text + "<input type ='hidden' name='deleted_files' value ='" + id + "'>"
                                element.innerHTML = text;




                            }

                            function onClickDeleteContact(id) {
                                var element = document.getElementById("d_contacts");
                                var text = element.innerHTML;
                                text = text + "<input type ='hidden' name='deleted_contacts' value ='" + id + "'>"
                                element.innerHTML = text;




                            }

                            function onClickDeleteEquipment(id) {
                                var element = document.getElementById("d_equipments");
                                var text = element.innerHTML;
                                text = text + "<input type ='hidden' name='deleted_equipments' value ='" + id + "'>"
                                element.innerHTML = text;




                            }





                            ///////////////////////////////////

                            var xmlhttp = getXmlHttp(); // Создаём объект XMLHTTP

                            function getXmlHttp() {
                                var xmlhttp;
                                try {
                                    xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
                                } catch (e) {
                                    try {
                                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                    } catch (E) {
                                        xmlhttp = false;
                                    }
                                }
                                if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
                                    xmlhttp = new XMLHttpRequest();
                                }
                                return xmlhttp;
                            }

                            function changeCountry(id) {
                                if (id != '') {
                                    xmlhttp.open('POST', '/districts', true); // Открываем асинхронное соединение
                                    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
                                    xmlhttp.send("cantryId=" + encodeURIComponent(id)); // Отправляем POST-запрос
                                    xmlhttp.onreadystatechange = function () { // Ждём ответа от сервера
                                        if (xmlhttp.readyState == 4) { // Ответ пришёл
                                            if (xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                                                var districts = JSON.parse(xmlhttp.responseText); // Преобразуем JSON-строку в массив
                                                var text = "<option value=''>Выберите округ</option>"; // Начинаем создавать элементы в select
                                                for (var i in districts) {
                                                    /* Перебираем все элемены и создаём набор options */
                                                    text += "<option value='" + districts[i].id + "'>" + districts[i].name + "</option>";
                                                }
                                                document.getElementById('districts_').style.visibility = 'visible';
                                                document.myform.districts.innerHTML = text; // Устанавливаем options в select
                                            }
                                        }
                                    };
                                } else {
                                    document.getElementById('districts_').style.visibility = 'hidden';
                                    document.getElementById('regions_').style.visibility = 'hidden';
                                    document.getElementById('cities_').style.visibility = 'hidden';
                                    document.getElementById('street_').style.visibility = 'hidden';
                                    document.getElementById('number_').style.visibility = 'hidden';
                                }
                            }

                            function changeDistrict(id) {
                                if (id != '') {
                                    xmlhttp.open('POST', '/regions', true); // Открываем асинхронное соединение
                                    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
                                    xmlhttp.send("districtId=" + encodeURIComponent(id)); // Отправляем POST-запрос
                                    xmlhttp.onreadystatechange = function () { // Ждём ответа от сервера
                                        if (xmlhttp.readyState == 4) { // Ответ пришёл
                                            if (xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                                                var regions = JSON.parse(xmlhttp.responseText); // Преобразуем JSON-строку в массив
                                                var text = "<option value=''>Выберите регион</option>"; // Начинаем создавать элементы в select
                                                for (var i in regions) {
                                                    /* Перебираем все элемены и создаём набор options */
                                                    text += "<option value='" + regions[i].id + "'>" + regions[i].name + "</option>";
                                                }
                                                document.getElementById('regions_').style.visibility = 'visible';
                                                document.myform.regions.innerHTML = text; // Устанавливаем options в select
                                            }
                                        }
                                    };
                                } else {
                                    document.getElementById('regions_').style.visibility = 'hidden';
                                    document.getElementById('cities_').style.visibility = 'hidden';
                                    document.getElementById('street_').style.visibility = 'hidden';
                                    document.getElementById('number_').style.visibility = 'hidden';
                                }
                            }

                            function changeRegion(id) {
                                if (id != '') {
                                    xmlhttp.open('POST', '/cities', true); // Открываем асинхронное соединение
                                    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); // Отправляем кодировку
                                    xmlhttp.send("regionId=" + encodeURIComponent(id)); // Отправляем POST-запрос
                                    xmlhttp.onreadystatechange = function () { // Ждём ответа от сервера
                                        if (xmlhttp.readyState == 4) { // Ответ пришёл
                                            if (xmlhttp.status == 200) { // Сервер вернул код 200 (что хорошо)
                                                var cities = JSON.parse(xmlhttp.responseText); // Преобразуем JSON-строку в массив
                                                var text = "<option value='Выберите город'></option>"; // Начинаем создавать элементы в select
                                                for (var i in cities) {
                                                    /* Перебираем все элемены и создаём набор options */
                                                    text += "<option value='" +cities[i].name + "'></option>";
                                                }
                                                document.getElementById('cities_').style.visibility = 'visible';
                                                document.myform.cities.placeholder = 'Выберите город';
                                                document.getElementById('sityList').innerHTML = text; // Устанавливаем options в select
                                            }
                                        }
                                    };
                                } else {

                                    document.getElementById('cities_').style.visibility = 'hidden';
                                    document.getElementById('street_').style.visibility = 'hidden';
                                    document.getElementById('number_').style.visibility = 'hidden';
                                }
                            }

                            function changeCity(id) {
                                if (id != '') {
                                    document.getElementById('street_').style.visibility = 'visible';
                                    document.getElementById('number_').style.visibility  = 'visible';
                                } else {

                                    document.getElementById('street_').style.visibility = 'hidden';
                                    document.getElementById('number_').style.visibility = 'hidden';
                                }
                            }

                            //отключение сабмита по нажатию энтер в поле формы
                            $(document).ready(function() {
                                $(myform).keydown(function(event){
                                    if(event.keyCode == 13) {
                                        event.preventDefault();
                                        return false;
                                    }
                                });
                            });
                            //
                        </script>

                        <div class="panel-footer">
                            <div class="row">
                                <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                                <button type="submit" class="btn btn-labeled btn-success btn-success-fix">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span><span
                                        th:text="OK"/></button>
                                <button type="button" onclick="history.back();" class="btn btn-labeled btn-danger">
                                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span><span
                                        th:text="#{users.exit}"/></button>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </form>


            </div>


        </div>
    </div>

</div>

</body>
</html>