<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{navMenu.SMISTable}"/>

    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>
    <script src="/js/detect.js"></script>

    <style>

        .btn-add {
            background-color: #3700b3;
            color: #fff;
        }

        .btn-add:hover {
            background-color: #3949AB;
            color: #fff;
        }

        .description-fix {
            max-width: 450px !important;
            min-width: 50px !important;
            word-wrap: break-word !important;
        }

        .pannel-fix {
            position: absolute;
            margin-left: -250px !important;
            margin-right: 50px !important;
        }

        .file-description-fix{
            word-break: break-word !important;
        }

        .file-comment-fix{
            min-width: 200px !important;
            max-width: 200px !important;
            word-break: break-word !important;


        }


    </style>

</head>
<body onload="detectBr()">
<div class="container">
    <div class="row">
        <div class="panel panel-primary pannel-table pannel-fix">
            <div class="pannel-heading">
                <div class="text-center">
                    <strong class="panel-title" th:text="#{navMenu.SMISTable}"></strong>
                </div>
            </div>
            <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')||#httpServletRequest.isUserInRole('ROLE_USER')}">

                <!--кнопка для добавления нового СМИСа в системы, которую видит только админ и юзер-->
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <button class="btn btn-labeled btn-add" onclick="onClickAdd();">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        <a th:text="#{complex.addSmis}" style="text-decoration: none; color: white"></a>
                    </button>
                </div>
                <script>
                    function onClickAdd() {
                        document.location.href = "add_smis";
                    }
                </script>
                <!---->
            </div>
            <!--пустой див для добавления кнопки в браузере Chrome-->
            <!--<div class="col-xs-6 col-sm-6 col-md-6 btn-right" id="ChromeDetector"></div>
            &lt;!&ndash;определение версии браузера, отображение ссылки на плагин для Хрома, если открыто в Хроме&ndash;&gt;
            <script>
                function detectBr() {
                    var brType = (detect.parse(navigator.userAgent)).browser.family;
                    if (brType.toString() === "Chrome") {
                        var btnChrome = document.getElementById("ChromeDetector");
                        btnChrome.innerHTML = '<!--<button class="btn btn-labeled btn-add">' +
                            '<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>' +
                            '<a href="https://chrome.google.com/webstore/detail/enable-local-file-links/nikfmfgobenbhmocjaaboihbeocackld/related"' +
                            'target="_blank"style="text-decoration: none; color: white">' +
                            'Установить плагин для ссылок</a></button>--><!--';
                    }
                }-->
            <!--</script>&ndash;&gt;-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <!--заголовки таблицы-->
                    <th class="description-fix" th:text="#{complex.name}"></th>
                    <th class="description-fix" th:text="#{complex.region}"></th>
                    <!--<th th:text="#{complex.dateReg}"></th>-->  <!--перенести в детализацию-->
                    <!--<th th:text="#{complex.documents}"></th>-->  <!--перенести в детализацию-->
                    <!--<th th:text="#{complex.agreementNumber}"></th>-->
                    <th class="description-fix" th:text="#{complex.agreementDate}" title="установить дату напоминания об окончании срока соглашения"></th>
                    <th class="description-fix" th:text="#{complex.contacts}"></th>
                    <th class="description-fix" th:text="#{complex.documents}"></th>
                    <th class="description-fix" th:text="#{complex.equipment}"></th>
                    <!--<th th:text="#{complex.url}"></th>-->  <!--перенести в детализацию-->
                    <!--<th th:text="#{complex.enabled}"></th>-->
                    <th class="description-fix" th:text="#{complex.description}"></th>
                </tr>
                </thead>
                <tbody class="table table-striped">
                <tr th:each="smis : ${smisesList}">
                    <!--напонение таблицы-->
                    <td class="description-fix" th:text="${smis.name}"></td>
                    <td class="description-fix" th:text="${smis.region.name}"></td>
                    <!--<td th:text="${smis.dateRegistration}"></td>-->  <!--перенести в детализацию-->
                    <!--<td th:text="${smis.files}"></td>-->  <!--перенести в детализацию-->
                    <!--<td th:text="${smis.agreement}"></td>-->
                    <td class="description-fix" th:text="${smis.validity}"></td>  <!--вернуть в Entity срок соглашения-->
                    <td class="description-fix">
                        <div th:if="${not #lists.isEmpty(smis.contacts)}" th:each="contact : ${smis.contacts}"
                             class="description-fix">
                            <p class="contacts-cell description-fix"
                               th:text="${contact.name + ' - ' + contact.position + ' - ' + contact.fonNumber}"></p>
                        </div>
                    </td>
                    <td class="description-fix">
                        <div th:if="${not #lists.isEmpty(smis.files)}" th:each="file : ${smis.files}"
                             class="description-fix">
                            <table class="table table-striped" style="background-color: inherit !important;">
                                <tr style="background-color: inherit !important;">
                                    <td style="background-color: inherit !important;">
                                        <p class="contacts-cell description-fix file-comment-fix"><a
                                                th:href="${'/download/' +  file.fileName}" th:text="${file.customName}"
                                                type="application/file"></a></p>
                                    </td>
                                    <td class="file-description-fix file-comment-fix" style="background-color: inherit !important;" th:text="${file.description}">

                                    </td>
                                </tr>
                            </table>

                        </div>
                    </td>
                    <td class="description-fix">
                        <div th:if="${not #lists.isEmpty(smis.equipments)}"
                             th:each="smis_equipment : ${smis.equipments}" class="description-fix">
                            <p class="contacts-cell description-fix" th:text="${smis_equipment.equipment.name}"></p>
                        </div>
                    </td>
                    <!--<td th:text="${smis.url}"></td>-->   <!--перенести в детализацию-->
                    <!--<td th:text="${smis.state.stateName}"></td>-->
                    <td th:text="${smis.description}" class="description-fix"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>