<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{navMenu.SMISTable}"/>

    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="pannel-heading">
                    <div class="text-center">
                        <strong class="panel-title" th:text="#{navMenu.SMISTable}"></strong>
                    </div>
                </div>
                <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')||#httpServletRequest.isUserInRole('ROLE_USER')}">

                    <!--кнопка для добавления нового СМИСа в системы, которую видит только админ и юзер-->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <button class="btn btn-labeled btn-add">
                            <span class="btn-label">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            <a th:href="${'/add_smis'}" th:text="#{complex.addSmis}" style="text-decoration: none; color: white"></a>
                        </button>
                    </div>

                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                                <!--заголовки таблицы-->
                                <th th:text="#{complex.name}"></th>
                                <th th:text="#{complex.region}"></th>
                                <th th:text="#{complex.dateReg}"></th>
                                <th th:text="#{complex.agreement}"></th>
                                <th th:text="#{complex.validity}"></th>
                                <th th:text="#{complex.contacts}"></th>
                                <th th:text="#{complex.url}"></th>
                                <th th:text="#{complex.enabled}"></th>
                                <th th:text="#{complex.description}"></th>
                        </tr>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(smisesList)}" class="table table-striped">
                        <tr  th:each="smis : ${smisesList}">
                                <!--напонение таблицы-->
                                <th th:text="${smis.name}"></th>
                                <th th:text="${smis.region}"></th>
                                <th th:text="${smis.dateRegistration}"></th>
                                <th th:text="${smis.agreement}"></th>
                                <th th:text="${smis.validity}"></th>
                                <th th:text="${smis.contacts}"></th>
                                <th th:text="${smis.url}"></th>
                                <th th:text="${smis.enabled}"></th>
                                <th th:text="${smis.description}"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>