<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <!--логотип-->
                <li>
                    <img src="/images/app_basis.bmp" vspace="10" hspace="10">
                </li>
                <!--название-->
                <li th:href="@{/}"><h3 style="color: White">Центр Оперативной Поддержки СМИС </h3></li>
            </ul>
            <!--навигация по пользователю-->
            <ul class="nav navbar-nav navbar-right">
                <!--регистрация-->
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="#" style="color: White;" th:href="@{/signup}"><span th:text="#{navMenu.signup}"/>
                    </a>
                </li>
                <!--логин-->
                <li class="divider-vertical"/>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="#" style="color: White;" th:href="@{/login}">
                        <span th:text="#{navMenu.login}"/>
                    </a>
                </li>
                <!--профиль пользователя-->
                <li th:if="${#authorization.expression('isAuthenticated()')}" style=" color: #FFFFFF">
                    <a href="#" th:href="@{'/getUser/'+ ${session.currentUser.id}}">
                        <span class="glyphicon glyphicon-user"></span>
                        <b th:text="${session.currentUser.firstName}"></b>
                        <b th:text="${session.currentUser.lastName}"></b>
                    </a>
                </li>
                <!--выход-->
                <li class="divider-vertical"/>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="#" style="color: White;" th:href="@{/j_spring_security_logout}">
                        <span th:text="#{navMenu.logout}"/>
                    </a>
                </li>
            </ul>
        </ul>
        <!--навигация по сайту-->
        <div id="menu">
            <div class="container">
                <ul>
                    <!--список ПК ИВ СМИС-->
                    <li><a th:text="#{navMenu.SMISTable}" href="/smises_table"></a></li>
                    <!--<li><a th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" th:text="#{navMenu.Admin}"></a></li>-->
                    <!--дерево СМИСов-->
                    <li><a th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')||#httpServletRequest.isUserInRole('ROLE_USER')}"
                           th:text="#{navMenu.ThreeSmis}"
                           href="/smises_list"></a>
                    </li>
                    <!--открыть БД в новой вкладке-->
                    <li><a th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" th:text="#{navMenu.DB}"
                           href="/h2-console" target="_blank"></a></li>

                </ul>
            </div>
        </div>
    </nav>
<div class="under_header"></div>
</div>
</body>
</html>