<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Custom CSS -->
    <link href="/css/modern-business.css"
          th:href="@{/css/modern-business.css}" rel="stylesheet" media="screen"/>

    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet" media="screen"/>

    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!--<link href="/css/icons.css"
          th:href="@{/css/icons.css}" rel="stylesheet" media="screen"/>-->

    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" >
        String.prototype.replaceAll = function(character,replaceChar){
            var word = this.valueOf();
            while(word.indexOf(character) != -1)
                word = word.replace(character,replaceChar);
            return word;
        }
    </script>

</head>
<body>
</body>
</html>