<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Custom CSS -->
    <link href="/css/modern-business.css"
          th:href="@{/css/modern-business.css}" rel="stylesheet" media="screen"/>

    <script type="text/javascript" >
        String.prototype.replaceAll = function(character,replaceChar){
            var word = this.valueOf();
            while(word.indexOf(character) != -1)
                word = word.replace(character,replaceChar);
            return word;
        }
    </script>

</head>
<body>
</body>
</html>