<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="#{users.profile}"/>


    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>


</head>
<body>

<div class="container">
    <div id="main" style="height: 100%">


        <div class="row" id="real-estates-detail">


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="text-center">
                            <strong class="panel-title" th:text="#{users.profile}"></strong>
                        </div>

                    </div>
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            <li class="active"><a href="#detail" data-toggle="tab" th:text="#{users.about}"></a></li>
                            <!--<li th:if="${userEntity.username==session.currentUserEntity.username || #httpServletRequest.isUserInRole('ROLE_ADMIN')}" class=""><a href="#courses" data-toggle="tab"  th:text="#{users.availableCourses}"></a></li>-->
                            <li th:if="${user.mail==session.currentUser.mail}" class=""><a href="#editProf" data-toggle="tab"  th:text="#{users.editProf}"></a></li>
                            <!--<li th:if="${#authorization.expression('isAuthenticated()')and (userEntity.username==session.currentUserEntity.username)}" class=""><a href="#messages" data-toggle="tab" th:text="#{users.messages}"></a></li>-->
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr/>
                            <div class="tab-pane fade active in" id="detail">
                                <div class="col-lg-4 col-md-4 col-xs-12" >
                                        <div class="text-center" id="author">
                                            <img src="#" th:src="${'/imgUser=' + user.id}"  class="img-circle img-responsive"/>
                                            <label style="background: #2e6da4;" th:if="${#authorization.expression('isAuthenticated()')and not (user.mail==session.currentUser.mail)}">
                                                <a style=" color: #FFFFFF" th:href="${'/addMsgForm/1/'+ user.id }" th:text="#{users.sendMsg}"></a>
                                            </label>
                                            <h3 th:text="${user.firstName + ' ' + user.lastName}"></h3>
                                            <small class="label label-warning" th:if="${user.userRole.userRoleName=='ROLE_ADMIN'}" th:text="#{users.roleAdmin}"/>
                                            <small class="label label-warning" th:if="${user.userRole.userRoleName=='ROLE_USER'}" th:text="#{users.roleUser}"/>
                                        </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12">
                                    <h4 th:text="#{users.historyProfile}"></h4>
                                    <table class="table table-th-block">
                                        <tbody>
                                        <tr><td class="active" th:text="#{users.registrationDate}"></td><td th:text="${user.dateRegistration}"></td></tr>
                                        <tr><td class="active" th:text="#{users.recentActivity}"></td><td th:text="${user.lastDate}"></td></tr>

                                        <!--<tr><td class="active">Рейтинг пользователя:</td><td><i class="fa fa-star" style="color:red"></i> <i class="fa fa-star" style="color:red"></i> <i class="fa fa-star" style="color:red"></i> <i class="fa fa-star" style="color:red"></i> 4/5</td></tr>-->
                                        <!--<tr><td class="active">Плагин рейтинга:</td><td><a href="http://bootstraptema.ru/stuff/plugins_bootstrap/improvement/bootstrap_star_rating/12-1-0-73" target="_blank">http://goo.gl/bGGXuw</a></td></tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div th:if="${user.mail==session.currentUser.mail}" class="tab-pane fade" id="editProf">
                                <p></p>
                                <form role="form"  th:action="@{/editUser}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="userId" th:value="${user.id}"/>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-picture"></span></span>
                                        <label class="file_upload" required="False">
                                            <mark th:if="${not #strings.isEmpty(user.image)}" th:text="${user.image.imgLink}"></mark>
                                            <mark th:if="${#strings.isEmpty(user.image)}" th:text="#{users.avatar}"></mark>

                                            <input type="file" name="img" th:placeholder="#{users.avatar}"/>
                                        </label>
                                        <script >
                                            $(function () {
                                                var wrapper = $(".file_upload"),
                                                        inp = wrapper.find("input"),
                                                        lbl = wrapper.find("mark");

                                                // Crutches for the :focus style:
                                                inp.focus(function () {
                                                    wrapper.addClass("focus");
                                                }).blur(function () {
                                                    wrapper.removeClass("focus");
                                                });

                                                inp.change(function () {

                                                    if (inp[0].files[0])
                                                        file_name = inp[0].files[0].name;
                                                    else
                                                        file_name = inp.val().replace("C:\\fakepath\\", '');

                                                    if (!file_name.length)
                                                        return;

                                                    if (lbl.is(":visible")) {
                                                        lbl.text(file_name);

                                                    }
                                                }).change();

                                            });
                                            $(window).resize(function () {
                                                $(".file_upload input").triggerHandler("change");
                                            });
                                        </script>
                                    </div>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-list-alt"></span></span>
                                        <input type="text" class="form-control" name="first_name"
                                               th:placeholder="#{users.firstName}" th:value="${user.firstName}" autofocus = "True"/>
                                    </div>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-list-alt"></span></span>
                                        <input type="text" class="form-control" name="last_name"
                                               th:placeholder="#{users.lastName}" th:value="${user.lastName}"/>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-list-alt"></span></span>
                                        <input type="email" class="form-control rounded" name="email" th:placeholder="#{users.eMail}" th:value="${user.mail}"/>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success" data-original-title="" title="">OK</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

    </div><!-- /.main -->
</div><!-- /.container -->
</body>
</html>