.panel-fix{
    background-color: #e3001b !important;
}

.glyphicon-ok {
    padding-top: 5px !important;
    padding-right: 5px !important;
}

.glyphicon-remove{
    padding-top: 5px !important;
    padding-right: 5px !important;
}