<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org">

    <title>ЦОП СМИС</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>

    <style>

        .btn-fix{
/*
            margin-left: -89px !important;
*/
            margin-top: -35px !important;
        }

        .btn-remove-fix {
            margin-left: -70px !important;
        }

        .form-fix {
            height: 20px !important;
            width: 500px !important;
        }


    </style>

</head>
<body>

<h2 style="color: #ff0000">Страница в разработке!</h2>
<!--<p><button type="button" onclick="btnClick();">добавить файл</button></p>
<form role="form" th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">
    <p>Загрузите ваши файлы на сервер</p>

    <p id="files"></p>

        <input type="submit" value="Отправить"></p>
</form>
<script>

    function btnClick() {
        var files = document.getElementById('files');
        var p = document.createElement('p');
        p.style.wordWrap = 'break-word';
        p.innerHTML = '<input type="file" name="files" multiple/>';
        files.appendChild(p);
    }

</script>-->

<div class="container">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <label>Добавить контакты</label>
            <form>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                    </div>
                    <table>
                        <tr>
                            <td><input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" name="fones[]" ></td>
                            <td><input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" name="names[]" ></td>
                            <td><input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" type="text" name="positions[]" ></td>
                            <td><span class="input-group-btn"><button type="button" class="btn btn-success btn-add btn-fix">✚</button></span></td>
                        </tr>
                    </table>

                    <!--<div class="form-group input-group">-->
                        <!--<input type="text" name="multiple[]" class="form-control form-fix"> <input class="form-control form-fix btn" type="file" name="files[]">-->
                        <!--<span class="input-group-btn"><button type="button" class="btn btn-success btn-add btn-fix">✚</button></span>-->
                    <!--</div>-->
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    $$(document).on('click', '.btn-add', function(event) {
        event.preventDefault();

        var field = $(this).closest('.input-group');
        var field_new = field.clone();

        $(this)
            .toggleClass('btn-success')
            .toggleClass('btn-add')
            .toggleClass('btn-danger')
            .toggleClass('btn-remove')
            .toggleClass('btn-remove-fix')
            .html('✖');

        field_new.find('input').val('');
        field_new.insertAfter(field);
    });

    $(document).on('click', '.btn-remove', function(event) {
        event.preventDefault();
        $(this).closest('.input-group').remove();
    });
</script>

</body>
</html>